boto==2.44.0
certifi==2019.3.9
chardet==3.0.4
cryptography==1.7.1
distro==1.0.1
docopt==0.6.2
easydict==1.9
google-compute-engine==2.8.13
graphviz==0.8.4
idna==2.8
joblib==0.13.2
keyring==10.1
keyrings.alt==1.3
mxnet==1.4.1
numpy==1.16.3
opencv-contrib-python==4.1.0.25
opencv-python==4.1.0.25
pyasn1==0.1.9
pycrypto==2.6.1
pygobject==3.22.0
python-apt==1.4.0b3
pyxdg==0.25
requests==2.21.0
scikit-learn==0.21.1
scipy==1.2.1
SecretStorage==2.3.1
six==1.10.0
sklearn==0.0
unattended-upgrades==0.1
urllib3==1.24.3
yarg==0.1.9
